.card-size{
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-buttons{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, minmax(10%, 1fr));	
    gap: 5rem;
    margin: 3rem auto;
    padding: 2rem 0rem;
    justify-self: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.estiloCard{
    display: flex;
    width: 40%;
    height: 30%;
    padding: 5.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.estiloCard p{
    font-size: clamp(1.5rem, 100%, 10.5rem);
}

.continue-button{
    display: flex;
    width: 100%;
    padding: 2rem 0rem;
    align-items: center;
    justify-content: center;
}

.continue-style{
    width: 50rem;
}


.content-2{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.estilo-Card-2{
    width: 15%;
}

.title-logro-repaso{
    text-align: center;
}

.orden-list-logro
{
    white-space: pre-wrap;
}


.estilo-Card-5
{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-review-duck{
    width: 50%;
}

.chat-cont-review{
    width: 70%;
    height: 60%;
    overflow-y: scroll;
}

.card-image-canva-repaso{
    width: 20%;
}


.estilo-Card-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .card-image-cropped {
    width: 50%;
    height: 150px; /* Ajusta la altura según el recorte deseado */
    object-fit: cover; /* Esto asegura que la imagen se recorte sin distorsión */
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  .card-image-full {
    width: 50%;
    height: auto; /* Muestra toda la imagen */
    object-fit: contain; /* Ajusta la imagen sin recortarla */
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  
  .continue-style {
    margin-top: 1rem;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card-front {
    text-align: center;
  }


@media (max-width: 450px) {
    .estiloCard {
        height: 20%;
        width: 50%;
    }

    .line-buttons{
        display: grid;
        width: 80%;
        grid-template-columns: repeat(2, minmax(5%, 1fr));
        grid-template-columns: repeat(2, minmax(5%, 1fr));
        gap: 1rem;
        margin-top: 1rem;
    }
    .continue-button {
        width: 80%;
        margin: 0 auto;
    }
}
