.card-size{
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-buttons{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));	
    gap: 5rem;
    margin: 3rem 0rem;
    padding: 2rem 0rem;
}

.content{
    display: block;
    
}

.estiloCard{
    display: flex;
    width: 50rem;
    height: 20rem;
    padding: 5.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: inherit;
}

.continue-button{
    display: flex;
    width: 100%;
    padding: 2rem 0rem;
    align-items: center;
    justify-content: center;
}

.continue-style{
    width: 50rem;
}


.content-2{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.estilo-Card-2{
    width: 15%;
}

.title-logro-repaso{
    text-align: center;
}

.orden-list-logro
{
    white-space: pre-wrap;
}


.estilo-Card-5
{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-review-duck{
    width: 50%;
}

.chat-cont-review{
    width: 70%;
    height: 60%;
    overflow-y: scroll;
}