
.back-card{
    width: 50vw;
    height: 50vh;
    margin: 5rem auto;
    display: flex;
    text-align: center;

    justify-content: center;
}

.container-page{
    background-image: linear-gradient(#1258b8,#003761, #091225, #461E64 , #000, #000);
    scrollbar-color: black rgb(220, 135, 135) ;

}

.container-main-landing{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.slides
{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #000a1a;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
}

.slides1{
    background-color: linear-gradient(454deg, #4f4080, #9553ff);
}

.slides2{
    background-color: linear-gradient(454deg, #40806d, #53f9ff);
}

.slides3{
    background-color: linear-gradient(454deg, #806240, #ff5353);
}

.slides4{
    background-color: linear-gradient(454deg, #5eacb4, #349292);
}

.slides5{
    background-color: linear-gradient(454deg, #408046, #25ff3b);
}

.main-grid{
    display: grid;
    grid-template-areas: "img title"
    "img subtitle"
    "img start";
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.title-landing{
    grid-area: title;
    justify-self: center;
    width: 50%;
}

.subtext-landing{
    grid-area: subtitle;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 10px;
    line-height: 1.5; 
    text-align: center; /* Centra el texto dentro de su área */
    align-self: start;

    font-size: xx-large;
}

.texto-desc-landing{
    padding: 1rem;
    font-size: medium   ;
}

.img-landing{
    grid-area: img;
    width: 60%;
    justify-self: center;
    /* animation: float 3s ease-in-out infinite;  */
}

.start-landing{
    grid-area: start;
    align-self: start;
    color: white;
    width: 70%;
    justify-self: center
}

.panel-content{
    display: grid;
    grid-template-areas: "content1 main-content main-content content2"
    "content3 main-content main-content content4"
    "foot foot foot foot";


    margin: auto;
    grid-template-columns: [col-start] 22.5rem [mid-start] 22.5rem [mid] 22.5rem [mid-end] 22.5rem [col-end];
    grid-template-rows: [row-start] 12.5rem [row-mid-start] 12.5rem [row-mid-end] 12.5rem [row-end];
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.cont-1{
    grid-area: content1;
    text-align: center;
    font-weight: bolder;
    padding-top: 16px;
    
}
.cont-2{
    grid-area: content2;
    text-align: center;
    font-weight: bolder;
    padding-top: 16px;
    
}
.cont-3{
    grid-area: content3;
    text-align: center;
    font-weight: bolder;
    padding-top: 16px;
}
.cont-4{
    grid-area: content4;
    text-align: center;
    font-weight: bolder;
    padding-top: 16px;
}
.cont-main{
    grid-area: main-content;
    text-align: center;
    font-weight: bolder;
    padding-top: 16px;
}
.cont-f{
    grid-area: foot;
    text-align: center;
    font-weight: bolder;
    padding-top: 16px;
}

.container-tile{
    width: 100%;
    height: 100%;
    background-color: #5252522e;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tooltip {
    visibility: hidden;
    position: absolute; /* Cambiar a absolute para posicionar relativo a .container-tile */
    bottom: 0; /* Coloca el tooltip arriba del contenedor */
    left: 0;

    width: 100%;
    height:100%;
    background-color: #5e8fff;
    
    color: #fff;
    text-align: center;
    border-radius: 10px;
    opacity: 0; /* Cambia a 0 para que sea completamente invisible */
    transform: translateY(100%); /* Inicia fuera del contenedor, desde abajo */
    z-index: 100;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    
}

.container-tile:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    filter: blur(4px);
}

.panel-information1{
    display: grid;
    grid-template-areas: "content1 content2 content3"
                         "info info info";
    grid-template-columns: [col-start] 22.5rem [mid-start] 22.5rem [mid] 22.5rem [col-end];
    grid-template-rows: [row-start] 12.5rem [row-mid] 12.5rem [row-end];
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.info-1{
    grid-area: content1;
    text-align: center;
}

.info-2{
    grid-area: content2;
    text-align: center;
}

.info-3{
    grid-area: content3;
    text-align: center;
}

.info-g{
    grid-area: info;
    text-align: center;
}

.panel-detail-information{
    display: grid;
    grid-template-areas: "info1 imgdetail"
                         "info2 imgdetail"
                         "info3 imgdetail";
    grid-template-columns: [col-start] 23.5rem [mid] 23.5rem [col-end];
    grid-template-rows: [row-start] 12.5rem [row-mid] 12.5rem [row-mid-end] 12.5rem [row-end];
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.info-detail-1{
    grid-area: info1;
    text-align: center;
}

.info-detail-2{
    grid-area: info2;
    text-align: center;
}

.info-detail-3{
    grid-area: info3;
    text-align: center;
}

.info-img{
    grid-area: imgdetail;
}

.panel-ia
{
    display: flex;

}

.img-tile-grid{
    width: 35%;
    margin: auto;
}

.img-tile-grid-2{
    width: 80%;
    height: 90%;
    margin: auto;
}

.img-tile-grid-main{
    width: 80%;
    height: 75%;
    margin: auto;
}