.page-logro-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(18, 184, 62) 0%, rgba(0,0,0,1) 100%);
}
.logro-style-card{
    width: 70%;
    height: 60%;
}

.logro-content{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}

.logro-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% / 3);
    width: 5px; 
    height: 100%;
    background-color: rgb(28, 28, 28);
    z-index: 1; 
  }

  .image-logro{
    height: 100%;
    width: 90%;
    background-color: rgb(48, 48, 48);
    border-radius: 12px;
    grid-row: 1/3;
  }

  .cont-image-logro{
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .text-area-logro{
    
    width: 98%;
    height: 90%;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    border: none;
    color:white;
    padding: 5px 1rem;
    font-size: 16px;
    resize: none;
    padding: 20px;
  }

  .input-logro{
    width: 90%;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    height: 2rem;
    border:none;
    color:white;
    padding: 5px 1rem;
    font-size: 15px;
  }

  .button-logro{
    
    width: 5rem;
  }

  .label-container-logro{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/4;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .preview-image-logro{
    width: 250px;
    height: 250px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    padding: 0.7rem 0.75rem;
    margin: 0.8rem auto;
    grid-row: 1/6;
    grid-column: 1/2;
  }

  .image-box-modal{
    width: 23rem;
    height: 5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con igual anchura */
    gap: 8px; /* Espacio entre los iconos */
    justify-items: center; 
    background: rgb(31, 31, 31);
    padding: 0.7rem 0.75rem;
    border-radius: 15px;
    overflow-y: auto;
  }

  .button-terminar-logro
  {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 80px;

  }

  .button-new-logro{
    position: absolute;
    right: 100px;
    bottom: 10px;
    width: 80px;
  }

  .button-aplicar-contenedor{
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .text-area-logro-cont{
    width: 100%;
    height: 90%;
    grid-row: 1/4;
  }

  .finish-button-content{
    grid-column: 2/3;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
  }

  .icon-logro-up{
    grid-column: 2/3;
    grid-row: 2/3;
    background: rgb(30,30,30);
    border: none;
    border-radius:10px ;
    cursor: pointer;
  }
  .image-logro-up{
    grid-column: 2/3;
    grid-row: 4/5;
    background: rgb(30,30,30);
    border: none;
    border-radius:10px ;
    cursor: pointer;
  }

.image-logro-up:hover{
  background: rgb(44, 44, 44);
}

.icon-logro-up:hover{
  background: rgb(44, 44, 44);
}
.icon-buttom-logro:hover{
  color: rgb(237, 237, 237);
}

.icon-buttom-logro{
  width: 70%;
  height: 70%;
  color: rgb(175, 175, 175);
}

.image-logro-up.icon-logro-up{
  background: rgb(24, 24, 24);
  border: none;
  border-radius:10px ;
}

  .img-cont-logro{
    width: 100%;
    height: 100%;
  }

  .form-logro{
    width: 100%;
    height: 100%;
    grid-column: 2/3;
  }
  
    .prev-ach-cont{
      position: fixed;
      width: 100vw;
      height: 100vh;
      inset: 0;
      background-color: rgba(2, 36, 0, 0.584);
      z-index: 4;
    }

  .prev-ach{
    position: fixed;
    width:35%;
    height: 70%;
    margin: auto;
    inset: 0;
    z-index: 5;
    border-radius: 15px;
    background-color: rgb(33, 33, 33);
  }
  
  .cover-ach
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: rgb(16, 16, 16);
  border-radius: 15px 15px 0 0;
}

.text-ach{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  font-weight: bold;
}

.text-description-ach
{
  width: 100%;
  height: 40%;
  border-radius: 0 0 15px 15px;
  padding: 25px;
}

.img-cont-logro-min
{
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  z-index: 4;
  box-shadow: 10px 10px #000000a4;
}

.close-prev-ach{
  position: absolute;  
  right: 0;
  top: 0;
  color:white;
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 5;
  font-weight: bold;
}

.img-cont-logro-cover{
  position: absolute;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  filter: opacity(20%);
}