
.deck-space{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));	
    gap: 5rem;
    margin: 2rem 4rem;
    align-items: center;
    position: relative;
    z-index: 1;
}

.box{
    display: flex;
    width: 75%;
    height: 100%;
    position: relative;
    left: 20%;
    z-index: 1;
}
