

.box{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 1fr;
    /* grid-template-columns: minmax(80px, 350px) 1fr; */

}

.nav-bar-left{
    position: sticky;
    top: 0; /* Hace que `.nav-bar-left` se mantenga fija en la parte superior */
    height: 100vh;
}

.deck-space{
    grid-column: 2;
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(
        auto-fill,
        minmax(380px, 1fr));	
    gap: 4rem;
    padding: 50px;
}