.sizeInForm{
    height: calc(100vh - 64px); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}