.text-area-wrap{
    display: flex;
    flex-direction: column;
}

.text-area-comp{
    width: 95%;
    background: rgb(31, 31, 31);
    color: rgb(175, 175, 175);
    display: block;
    border: 10px;
    border-radius: 15px;
    padding: 0.7rem 0.75rem;
    margin: 0.8rem auto;
    resize: none;
    height: 100%;
    font-size: clamp(0.5rem, 2.5vw, 1rem); 
}

.char-counter{
    display: flex;
    justify-content: end;
    margin-right: 12px;
}

.max-reached
{
    color: rgb(255, 71, 71);
    font-weight: bolder;
}