.circle{
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    border: 1px solid #ffffff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute; /* Cambiado a absolute */
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%); /* Centro el elemento */
}
.circle::before{
    content: '';
    border-radius: 50%;
    position: absolute;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    left: calc(50% -80px);
    top: calc(50% -80px);
    background-color: #1d1d1d;
    z-index: 1;
}

.circle2{
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 80px;
    align-items: center;
    flex-direction: column;
    position: absolute; /* Cambiado a absolute */
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%); /* Centro el elemento */
}

.position-clock{
    position: relative; /* Cambiado a relative */
    width: 100%; /* Ajusta según tus necesidades */
    height: 100%; /* Ajusta según tus necesidades */
}

.seconds-sphere {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: rotacion 60s linear infinite;
    animation-play-state: paused;
    z-index: 3;
}

.seconds-sphere-g-clock{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 10px);
    top: 44%;
    animation: rotacion2 60s linear infinite;
    animation-play-state: paused;
    z-index: 3;
}

@keyframes rotacion {
	from { 	transform: rotate(-90deg) translateX(100px); }
	to   {  transform: rotate(270deg) translateX(100px); }
}


.buttons {
    margin-top: 10px;
    display: inline-flex;
    z-index: 5;
}

.paused {
    height: 10px;
    border-width: 5px 0 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent #fff;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}

.paused2 {
    height: 20px;
    border-width: 10px 0 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}

.running {
    border-style: double;
    border-width: 0 0 0 10px;

}
.running2 {
    border-style: double;
    border-width: 0 0 0 20px;
    width: 10px;
    height: 20px;

}

.stop {
    background-color: #fff;
    height: 10px;
    width: 10px;
    cursor: pointer;

}

.stop2{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.stopwatch{
    z-index: 5;

}

.buttons-g-clock{
    padding: 30px;
    display: inline-flex;
    gap: 40px;
    z-index: 5;
}

/* clock2 */

@keyframes rotacion2 {
    from { 
        transform: rotate(-90deg) translateX(303px); /* Comienza en el borde superior del círculo */
    }
    to { 
        transform: rotate(270deg) translateX(303px); /* Termina con una rotación completa */
    }
}

.circle-2{
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    border: 5px solid #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 80px;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%); /* Centro el elemento */
}

.circle-2::after{
    content: "";
    border-radius: 50%;
    width: 85%; 
    height: 85%; 
    border: 5px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centro el círculo interior */
}

.buttons-2{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-flex;
    z-index: 5;
    align-items: center;
    gap: 20px;
}

.seconds-sphere-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 48.75%;
    top: 50%; /* Ajusta según el tamaño de tu círculo */
    transform-origin: center 0%; 
    /* transform-origin: center 0px; */
    animation: rotacion2 60s linear infinite;
    animation-play-state: paused;
    z-index: 3;
}