@keyframes float2 {
    0% { 
      transform: translateY(0) rotate(0);
    }
    25% { 
      
      transform: translateY(10px) rotate(15deg);
    }
    40% { 
      transform: translateY(4px) rotate(0deg);
    }
    75% { 
      transform: translateY(60px) rotate(-15deg);
    }
    100% { 
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

.duck {
    position: relative;
    /* width: 200px; */
    height: 200px;
    animation: float 3s ease-in-out infinite;
    z-index: 5;
}
/* .duck-body {
  --size: 170px;
  --half-size: calc(var(--size) / 2);
  --gradient: linear-gradient(#e3b882, #3f2a10);
  position: absolute;
  width: var(--size);
  height: calc(var(--size)* 1.12);
  background: #fdca3d;
  border-radius: 74% 26% 60% 40% / 65% 33% 67% 35%;
  transform: rotate(20deg);
  top: 18px;
  left: 66px;
} */

.duck-body{
  position: absolute;
  width: 225px;
  height: 235px;
  background-image: url("/img/elements/body.svg");
  background-repeat: no-repeat;
  top: 15px;
  left: 38px;
}

.pico{
  position: absolute;
  width: 55px;
  height: 35px;
  top:88px;
  left: 30px;
  background-image: url("/img/elements/pico.svg");
  background-repeat: no-repeat;

}

.duck-wing {
  --size: 85px;
  --half-size: calc(var(--size) / 2);
  --gradient: linear-gradient(#e3b882, #3f2a10);
  position: absolute;
  width: var(--size);
  height: calc(var(--size)* 1.35);
  background: #fdca3d;
  border-radius: 50% / 65% 65% var(--half-size) var(--half-size);
  transform: rotate(60deg);
    top: 70px;
    left: 140px;
  z-index: 5;
    transform: rotate(60deg);
  box-shadow: -8px 3px #F2B302 inset
}
.duck-head {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #fdca3d;
    border-radius: 50%;
    top: 20px;
    left: 38px;
    box-shadow: -7px -7px #F2B302 inset
}
.duck-eye {
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    top: 80px;
    left: 85px;
}
.duck-eye::before{
content: "";
display: block;
width: 30%;
height: 30%;
background: white;
border-radius: 50%;
}
.duck-beak {
    position: absolute;
    --size: 40px;
--half-size: calc(var(--size) / 2);

width: var(--size);
height: var(--half-size);
background: orange;
border-radius: 50% 50% / var(--half-size) var(--half-size) 0 0;
   transform: rotate(180deg);
  left: 40px;
  top: 70px
}

.duck-eye-left
{
position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    top: 60px;
    left: 30px;
    z-index: -1;
}
.duck-eye-left::before{
content: "";
display: block;
width: 30%;
height: 30%;
background: white;
border-radius: 50%;
}

.main-grid-option-duck{
  display: grid;
  height: 100vh;

  grid-template-areas: "opc1 opc2"
  "button button";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  1fr 10rem ;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.card-duck-opt{
  display: flex;
  background-color: rgb(20, 20, 20);
  border-radius: 12px;
  flex-direction: column;
  width: 60%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.button-duck-option{
  display: flex;
  flex-direction: row;
  gap: 12px;
  grid-area: button;
}

.button-duck-option button{
  background-color: rgb(14, 14, 14);
  color: white;
  border-radius: 12px;
  border: none;
  width: 6rem;
  height: 3rem;
}

.img-duck-option{
  width: 20%;
  height: 20%;
}