.panel-select-pro{

    display: grid;
    max-width: 80%;
    min-width: 70%;
    width: 70%;
    height: 50%;
    /* grid-template-areas: "opc1 opc2 opc3"
    "opc4 opc5 opc6"
    "opc7 opc8 opc9"; */

    grid-template-columns: repeat(
        auto-fill,
        minmax(500px, 1fr));	
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
}

.cont-productivity
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cont-productivity h1{
  text-align: center;
  margin: 0;
}

.button-send-pro{
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

  .tiempo-ad{
    font-weight: bolder;
    color: rgb(255, 120, 120);
  }

  .panel-select-pro li{
    list-style: none;
    height: 100%;
    max-width: 100%;
    min-width: 80%;
    width: 80%;

  }

  .panel-select-pro  li label{
    
    height: 100%;
    background-color: #0056b3;
    border: 1px solid #b1b2cf;
    color: #b1b2cf;
    border-radius: 12px;
    transition: .2s all ease;
    padding: 8px 12px;
    display: flex;
    box-sizing: border-box;
  }

.panel-select-pro  li label:hover{
    border: 1px solid #696ef6;
  }
.panel-select-pro  li input[type="checkbox"]:checked + label {
    border: 1px solid #2930f6;
    background-color: #00aaff;
    color: wheat;
    display: flex;
  }
  .panel-select-pro  li input[type="checkbox"] {
    opacity:  0;
    display: none;
  }

 
@media (max-width: 450px) {
  .panel-select-pro{
    overflow: scroll;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .button-send-pro {
      position: absolute;
      right: 10px;
      top: 10px;
  }
  .panel-select-pro li{
    list-style: none;
    height: 100%;
    width: 90%;
  }
}