.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem;
    background-color: #121212;
    color: rgb(175, 175, 175);
  }
  
  .navbar-logo img {
    height: 60px;
  }
  
  .navbar-buttons-2{
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: rgb(175, 175, 175);
    border-radius: 12px;
    padding: 10px
  }
  
  .navbar-buttons {
    display: flex;
    color: rgb(175, 175, 175);
    gap: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #777;
  }

  @media (max-width: 480px) {
    .navbar{
      padding:0.5rem 1rem;
    }
    .navbar-logo img {
      height: 40px;
      width: 100px;
    }
    
  }