.size-form{
    height: calc(100vh - 70px); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-form-card{
    height: calc(100vh - 70px); 
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-style{
    display: flex;
    width: 50rem;
    height: 20rem;
    padding: 5.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.size-form2{
    display: block;
    height: 40vh;
    width: 90vw;
}

.add-button{
    border-radius: 90rem;
}

.buttons-card{
    width: auto;
    display: flex;
    padding-top: 4rem;
    gap: 2rem;
    align-items: end;
    justify-content: end;
}

.title_{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.error-message{
    color: rgb(252, 64, 64);
}

.link-to{
    opacity: 0.5;
}

.title-style{
    margin:0.5rem auto;
    padding: 1rem 3rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.sub-text{
    text-align: center;
}

.sub-form{
    text-align: center;
    align-items: center;
    justify-content: center;
}