.size-form{
    height: calc(100vh - 70px); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-form-card{
    height: calc(100vh - 70px); 
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-form-card-2{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    
    /* margin-top: 5rem; */
}


.size-form-card-edit{
    height: 70vh;
}

.card-style{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    padding: 20px;
    height: 60%;
    box-sizing: border-box;
    border-radius: 8px;

    
}

.add-button{
    border-radius: 90rem;
}



.title_{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.error-message{
    color: rgb(252, 64, 64);
}

.link-to{
    opacity: 0.5;
}

.title-style{
    margin:0.5rem auto;
    padding: 1rem 3rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.sub-text{
    text-align: center;
}




.sub-form{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-style-edit{
    display: block;
    width: 30rem;
    height: 40rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    padding: 1.5rem;
    position: inherit;
}

.size-form-edit{
    display: block;
    width: auto;
    height: auto;

}

.button-header-edit{
    width: auto;
    display: flex;
    justify-content: end;
}

.close-button-style{
    height: 2rem;
    width: 2rem;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.buttons-card-new{
    width: auto;
    display: flex;
    padding-top: 4rem;
    gap: 2rem;
    align-items: end;
    justify-content: end;
}


.icon-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Tres columnas con igual anchura */
    gap: 8px; /* Espacio entre los iconos */
    justify-items: center; 
    height: 5rem;
    background: rgb(31, 31, 31);
    padding: 0.7rem 0.75rem;
    margin: 0.8rem auto;
    border-radius: 15px;
    max-height: 200px; 
    overflow-y: auto;
}

.preview-icon{
    width: 3rem;
    height: 3rem;
    background: rgb(31, 31, 31);
    padding: 0.7rem 0.75rem;
    margin: 0.8rem auto;
    border-radius: 15px;
}

.menu-iconos{
    font-Size: 38px;
    transition: transform 0.3s ease;
    padding: 1rem;
}

  
.menu-iconos:hover{
    transform: scale(1.2); /* Aumenta el tamaño del ícono al 120% */
}

.selected-icon{
    width: 100%;
    height: 100%;
}

.menu-iconos.active {
    border: 1px solid white; /* Resalta el borde cuando el ícono está activo */
    border-radius: 10px;
  }

.buton-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.img-edit-logro{
    width: 100px;
    height: 100px;
}

.text-form-card{
    width: 90%;
}