.size-form {
    height: calc(100vh - 70px); 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
    overflow: hidden;
  }
  

  .card-form-sign {
    display: flex;
    flex-direction: column;
    position: relative; 
    max-width: 500px;
    width: 90%; 
    height: auto; 
    box-sizing: border-box;
    max-height: 90vh; 
    overflow-y: auto; 
  }

.title-style{
    margin:0.5rem auto;
    padding: 1rem 3rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

@media (min-width: 1600px) {
    .card-form-sign {
      max-width: 500px; 
    }
  }
  
  @media (max-width: 375px) {
    .card-form-sign {
      width: 90%; 
      min-width: 100px; 
      min-height: 550px;
    }
    .title-style{
        margin:0.5rem auto;
        padding: 0;
    }
  }



  .card-form-sign-up{
    display: flex;
    flex-direction: column;
    position: relative; 
    max-width: 500px;
    width: 90%; 
    height: auto; 
    box-sizing: border-box;
    max-height: 90vh; 
    justify-content: center;
    /* align-items: center; */
    overflow-y: auto; 
  }

  .form-register{
    display: flex;
    flex-direction: column;

  }

.input-register{
    padding: 0.5rem 0.75rem;
    margin: 1rem auto;
    box-sizing: content-box;
}

  @media (min-width: 1600px) {
    .card-form-sign {
      max-width: 500px; /* Aumenta el tamaño máximo en pantallas grandes */
    }
    
  }
  
  @media (max-width: 375px) {
    .card-form-sign-up {
      width: 90%; 
      min-width: 100px; 
      min-height: 550px;
      padding: 1rem;
    }
    .title-style{
        margin:0.3.5rem auto;
        padding: 0;
        font-size: 1.4rem;
    }

    .label-register{
        padding-top: 0.3rem;
    }

    .input-register{
        width: 90%;
        padding: 0.45rem 0.75rem;
        margin: 0.5rem auto;
    }

  }


.size-form-card{
    height: 100vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-form-card-2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 1fr 2rem 1fr 5rem;
    flex-grow: 1;
    width: 100%;

}


.size-form-card-edit{
    height: 70vh;
}

.card-style{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    min-width: 22rem;
    padding: 20px;
    height: 60%;
    box-sizing: border-box;
    border-radius: 12px;
}

@media (max-width: 375px) {
    .card-style{
        height: 80%;
    }

    .text-area-card-form{
        width: 80%;
        
    }
  }

  .text-area-deck-form{
    height: auto;
  }

.add-button{
    border-radius: 90rem;
}



.title_{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}



.error-message{
    color: rgb(252, 64, 64);
}

.link-to{
    opacity: 0.5;
}



.sub-text{
    text-align: center;
}




.sub-form{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-style-edit{
    display: block;
    width: 30rem;
    height: 40rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    padding: 1.5rem;
    position: inherit;
}





.size-form-edit{
    display: block;
    width: auto;
    height: auto;

}

.button-header-edit{
    width: auto;
    display: flex;
    justify-content: end;
}

.close-button-style{
    height: 2rem;
    width: 2rem;
    color: rgb(175, 175, 175);
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.buttons-card-new{
    width: auto;
    display: flex;
    padding-top: 4rem;
    gap: 2rem;
    align-items: end;
    justify-content: end;
}




.selected-icon{
    width: 100%;
    height: 100%;
}

.form-sign{
    display: flex;
    flex-direction: column;
}



.img-edit-logro{
    width: 100px;
    height: 100px;
}

.text-form-card{
    width: 90%;
}