.survey-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 95, 174);
  margin-bottom: 0;
  gap: 20px;
}

.progress-bar-container {
  width: 90%;
  background-color: #e0e0df;
  border-radius: 25px;
  margin: 25px auto;
  margin-bottom: 0;
}

.progress-bar {
  height: 10px;
  background-color: #76c7c0;
  border-radius: 25px;
  transition: width 0.4s ease;
}

.Question-style{
  font-size: 3rem;
  margin-top: 8rem;

}

.buttons-survey{
  display: grid;
  width: 40%;
  grid-template-columns: 1fr 1fr;
  gap: 138px;
  margin-top: 4rem;
  margin-bottom: auto;

}

.button-option-survey{
  width: 100%;
  height: 250px;
  background-color: #004da4;
  border: none;
  margin: 5px; 
  border-radius: 1rem;
  font-size: 5rem ;
  color: #cfcfcf;
}


.buttons-survey-4{
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px; 
}

.buttons-container-survey
{
  display: flex;
  background-color: rgb(0, 19, 40);
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 19vh;
  
  margin-top: auto;
}

.buttons-prev-next{
  width: 125px;
  height: 80px;
  margin: 0 3rem;
  border-radius: 10px;
  border:none;
  background-color: rgb(0, 46, 138);
  color: rgb(175, 175, 175);
}

.buttons-prev-next:hover{
  border: 2px solid #fff;
}

.button-option-survey:focus {
  background-color: #9debff;
  color: rgb(150, 150, 150);
}

.button-option-survey:hover {
  background-color: #456dff;
  color: rgb(255, 255, 255);
}

@media (max-width: 450px) {
  .survey-container{
    justify-content: space-between;
  }
  .Question-style{
    max-width: 22rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 8rem;
    width: 20rem;
  
  }
  .buttons-survey{
    display: grid;
    grid-template-columns: 7rem 7rem;
    max-width: 20rem; /* Ajusta según necesites */
    margin:auto;
    margin-top: 3rem;
    justify-content: center;
    gap: 5rem;
    width: 20rem;
  }
  .button-option-survey {
    width: 100%;
    height: 148px;
    border-radius: 1rem;
    font-size: 2rem;
    color: #cfcfcf;
  }
}