.background-nav{
    background-color: rgba(10, 10, 10, 0.899);
    padding-left: 5rem;
    display: flex;
    align-items: center;
    box-sizing: content-box;
}

.link-container{
    width: 10rem;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    padding: 0rem 3rem;
    text-decoration: none;
}

@media (min-width: 360px) and (max-width: 991px) {
    .background-nav{
        padding-left: 1rem;
    }
    .link-container{
        width: 6rem;
    }
  }

.text-link{
    text-decoration: none;
    padding: 8px;   
}

.text-link:hover{
    border:  3px solid rgb(255, 255, 255);
}