.fieldInput{
    background: rgb(31, 31, 31);
    color: rgb(175, 175, 175);
    display: block;
    border: 10px;
    border-radius: 15px;
    padding: 0.7rem 0.75rem;
    margin: 1.5rem auto;
    width: 100%;
}