.cont-duck2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    background-image: url(/img/background3.png);
    margin:auto;
}

.card-question-duck{
    min-width: 50%;
    max-width: 60%;
    min-height: 50%;
    max-height: 80%;
    width: 50%;
    height: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: rgb(0, 30, 64);
    filter: blur();
    display: grid;
    grid-template-areas: 
    "title title"
    "subtitle subtitle"
    "main img"
    "buttons buttons";
/* grid-template-columns: 1fr 12rem; */
grid-template-columns:  minmax(9rem,1fr) minmax(8rem, 12rem);
grid-template-rows: 7rem 1rem auto 3rem;
}

.section-title{
    display: flex;
    flex-direction: column;
    grid-area: title;
}

.title-duck2
{
    display: flex;
    flex-direction: row;
    
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    width: 100%;
}

.title-duck2 label{
    margin-bottom: 0;
    padding-top: 0px;
}

.card-question-duck img{
    grid-area: img;
    justify-self: center;
    align-self: center;
    width: 75%;
}


.close-questions-card{
    grid-area: close;
    width: 25%;
    justify-self: end;
}


.buttons-duck2{
    grid-area: buttons;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.input-duck-question{
    align-self: flex-start;
  background-color: rgb(175, 175, 175);;
  color: #333;
  padding: 10px 15px;
  border-radius: 15px 15px 15px 0;
  max-width: 80%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;

}

.input-duck-question::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
}

.question-input-box{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    grid-area: main;
}

.buttons-agregar-chat button{
    width: 4rem;
    height: 3rem;
    background-color: rgb(15, 15, 15);
    color: rgb(175, 175, 175);
    border: none;
    font-weight: bolder;
    border-radius: 12px;
}

.next-button-duck
{
    width: 14rem;
    justify-self: center;
    background-color: rgb(14, 14, 14);
    color: rgb(175, 175, 175);
    border: none;
    border-radius: 12px;
    padding: 10px;
}

.answer-card-duck{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 50%;
    min-height: 50%;
    max-width: 90%;
    max-height: 80%;
    width: 50%;
    height: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
    box-sizing: content-box;
}


.cont-answer-chat{
    max-width: 90%;
    width: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    gap: 10px;
}
.input-duck-answer{
    align-self: flex-end;
    background-color: #007bff;
    color: rgb(175, 175, 175);
    padding: 10px 15px;
    border-radius: 15px 15px 0 15px;
    max-width: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: auto;
    margin-right: 0;
}

.input-duck-answer::before{
    content: '';
    position: absolute;
    right: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #007bff;
    border-bottom: 10px solid transparent;
}


.input-title-chat{
    margin: 0;
}


.chat-icon-duck-2{
    border-radius: 50%;
    width: 20%;
    aspect-ratio: 1;
    background-color: #007bff;
    background-image: url("./img/icon/duckchat.webp");
    background-size: cover;
    background-position: 10px 10px; 
    background-repeat: no-repeat; 
    
}

.card-chat-duck-2{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: row;
    gap: 20px;
    align-self: flex-end;
  text-align: right;
}

.save-button-duck
{
    width: 50%;
    height: 30px;
    background-color: #1d1d1d;
    border: none;
    border-radius: 12px;
    color: rgb(175, 175, 175);
}

.label-style-comp-chat{
    grid-area: subtitle;
}

.buttons-agregar-chat{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

}

.chat-card-2{
    margin-left: auto;
    transform: scaleX(-1);
}

.bubble-2{
    transform: scaleX(-1);
    border-radius: 15px 0 15px 15px;
    }

@media (max-width: 480px) {
    .card-question-duck{
        width: 60%;
        height: 80%;
        grid-template-areas:
        "title" 
        "img"
        "subtitle"
        "main"
        "buttons";
        grid-template-columns: 1fr;
        grid-template-rows: 15% 20% 5% 50% 10%;
        align-items: center;
        justify-items: center;
    }    
    .section-title{
        height: 1rem;
    }

    .title-duck2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .buttons-agregar-chat {
        gap: 10px;
      }

      .buttons-agregar-chat button{
        width: 3rem;
      }

    .next-button-duck{
        width: 6rem;
    }

    .card-question-duck img
    {
        width: 40%;
    }

  }

  @media (max-width: 480px) {
    .cont-answer-chat{
        gap: 30px;
    }
    .answer-card-duck{
        width: 70%;
        height: 80%;
        padding: 2.5rem;
    }

  }


  @media (max-width: 768px) {

  }
  